
.rss-feed {
    text-align: left;
    background-image: url('https://www.paperstreet.com/blog/wp-content/uploads/2016/04/iStock_000080733521_Double.jpg')
}

.feed-card {
    width: 900px;
    height: 150px;
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 30px;
    margin: 15px auto;
}

.feed-item-title {
    font-weight: 700;
    font-size: 24px;
}

.feed-item-pubdate {
    font-size: 14px;
    color: rgb(11, 128, 167);
}

.feed-item-link > a {
    text-decoration: none;
}

.feed-item-link > a:hover {
    color: red;
}

.feed-item-content {
    padding: 10px 20px;
}